<div class="carousel slide" id="carousel" data-ride="carousel" >
  <%= @hikes['trails'].flatten&.map do |body| %>
    <ol class="carousel-indicators" >
      <li data-targer="carousel" data-slide-to="0" class="active"></li>
    </ol>
      <div class="card">
        <%= image_tag("#{body['imgMedium']}", class: "card-img") %>
        <div class="card-img-overlay">
          <p class="card-text">Name: <%= body['name'] %></p>
          <p class="card-text">Sumary:  <%= body['length'] %>km</p>
          <p class="card-text">Difficulty: <%= body['difficulty'] %></p>
          <p class="card-text">More info:  <%= body['url'] %></p>
        </div>
      </div>
    <% end %>
</div>
