<%= form_with model: @profile do |form| %>
  <div class="d-flex mx-auto justify-content-center">
    <div class="card">
      <div class="card-header">
        <div class="form-row">
          <%= form.label t('name') %><br>
          <%= form.text_field :name, class: 'form-control', placeholder: t('name') %><br>
          <%= form.label t('age') %><br>
          <%= form.text_field :age, class: 'form-control', placeholder: t('age')%><br>
          <%= form.label t('username') %><br>
          <div class="input-group">
            <span class="input-group-text">@</span>
            <%= form.text_field :username, class: 'form-control', placeholder: t('username') %><br>
          </div>
          <%= form.label t('city') %><br>
          <%= form.text_field :city, class: 'form-control', placeholder: t('city') %><br>
          <%= form.label t('state') %><br>
          <%= form.text_field :state, class: 'form-control', placeholder: t('state')  %><br>
          <div class='col-md-6'>
            <%= form.submit 'Salvar', class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
