<%= flash[:error] %>
<%= flash[:notice] %>
<%= form_with model: @post do |form| %>
  <div class="d-flex mx-auto justify-content-center form">
    <div class="card">
      <div class="card-header">
        <div class="form-row">
          <%= form.label :title, 'Titulo' %>
          <%= form.text_field :title, class: 'form-control'%>
          <%= form.label :text, 'Texto' %>
          <%= form.text_area :text, class: 'form-control' %>
          <%= form.label :location, 'Localizacao' %>
          <%= form.text_field :location, class: 'form-control' %>
          <%= submit_tag('Enviar', class: 'btn btn-primary')%>
        </div>
      </div>
    </div>
  </div>
<% end %>
