<!DOCTYPE html>
<html>
  <head>
    <title>TrailsDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css' rel='stylesheet' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css' rel='stylesheet' />
    <%#= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap-social', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'box', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'shared/navbar' %>
      <%= yield %>
      <%= render 'shared/footer' %>
  </body>
</html>
