<!DOCTYPE html>
<html>
  <head>
    <title>TrailsDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!-- TODO: Add on a decorator, maybe? -->
    <% if user_signed_in? %>
      <%= link_to 'logout', destroy_user_session_path, method: :delete%>
      <% if current_user.profile != nil %>
        <%= link_to 'Profile', profile_path(current_user.profile) %>
      <% end %>
    <% else %>
      <%= link_to 'Login',new_user_session_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
